# Automatically created files
*.*~
etcw/base.el
etcw/config.el
etcw/functions.el
etcw/themes/zenburn.el
.org-id-locations

# Auto-created directories
auto-save-list/
autosaves/
eshell/
elpa/

# My own stuff
private.el